
/* VICTOR GENIO DEL ALMA TENE EN CUENTA ESTO: */

/*La resolución es 1440 x 1080 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*Comienza header*/

header {
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

header img {
    display: flex;
    width: 120px;
    height: 24px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-size: 13px;
    color: #242E52;
}

header nav li {
    list-style: none;
    margin: 10px;
    cursor: pointer;
}

#burger {
    display: none;
}

button {
    background-color: #8B48BF;
    color: #FFFFFF;
    border: 0;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 134px;
    height: 44px;
}

/*Acá termina el header*/

/*Main es sólo el texto a la izquierda y la imagen a la derecha*/

main {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-size: 59px;
    color: #232C50;
}

h4 {
    color: #323851;
}

#pgeneral {
    font-size: 17px;
    line-height: 30px;
    width: 350px;
    margin: 20px 0;
}

main img {
    width: 540px;
    height: 480px;
}

#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 440px;
    margin: 90px;
}

/* Acá comienza lo que continúa del main, que lo llamé section*/

#sectionlistita {      
    display: flex;
    justify-content: space-evenly;
}

#psection {
    color: #232851;
    font-weight: bold;
    font-size: 36px;
    line-height: 35px;
    width: 433px;
    margin: 20px 0;
}

#izq {
    width: 440px;
}

#der {
    width: 440px;
}

/*Aca termina la sectionlistita*/

/*Aca comienza el What they've said*/

#pcaritastitulo {
    color: #232851;
    font-weight: bold;
    font-size: 36px;
    line-height: 35px;
    margin: 0 0 50px 0;
}

#caritas {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 20px;
}

#caritas img {
    position: relative;
    bottom: 30px;
}

#testimonios {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card1, .card2, .card3 {
    text-align: center;
    overflow: visible;
    width: 30vw;
    background-color: #FAFAFA;
}

h5 {
    position: relative;
    bottom: 15px;
}

/*acá termina lo de las caritas*/

/*acá el previo al footer*/

#purple {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8B48BF;
    height: 20vh;
    color: white;
    padding: 30px;
}

#ppurple {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    width: 438px;
}

/*le puse inverse, un id para invertir los colores del button*/
#inverse {
    background-color: #FFFFFF;
    color: #8B48BF;
}

#btnlista {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 69px;
    height: 44px;
    margin-right: 20px;
}

#btngo {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 69px;
    height: 44px;
    margin-right: 20px;
}

#plista {
    margin: 0 0 0 90px;
    color: #B3B2B7;
    line-height: 25px;
}

#pcaritas {
    color: #B9B9C1;
}

/*Acá comienza el footer, que lo dividí en 3 partes:left, cent y right*/

footer {
    background-color: #1E1E26;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    padding: 40px;
}

footer ul li {
    list-style-type: none;
}

footer a {
    color: white;
}

#footleft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

#footcent {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    line-height: 35px;
}

#footright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 0px;

}

#derechosmobile {
    display: none;
}

#derechosdesktop {
    display: block;
}

/*iconos de las redes sociales*/

#redes {
    display: flex;
}

#iconitos {
    margin: 0 10px;
}

/*terminan iconos de las redes*/

/*acá es donde va el mail y el button go*/

form input[type="email"]{
	width:180px;
    height: 44px;
    padding: 10px;
	border-radius:50px;
	background-color:#FFFFFF;
}

a {
    color: #242E52;
    text-decoration: none;
}


/*Pseudoclases*/
a:hover {
    opacity: 60%;
}

button:active {
    transform:scale(1.5)
}

button:hover {
    opacity: 70%;
    cursor: pointer;
}

#btngo:hover {
    opacity: 70%;
    cursor: pointer;
}

#btnlista:hover {
    opacity: 100%;
    cursor: default;
}


@media(max-width:480px){
    
header {
    justify-content: space-between;
    align-items: center;
}

header nav li{
    display:none 
}

header button {
    display: none;
}

main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: left;
    text-align: center;
    width: 100vw;
    margin: 0px 0px 0px 0px;
}

main img {
    width: 95vw;    
}

main button {
    align-self: center;
}

#pgeneral {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}


#btnlista {
    display: block;
}

#sectionlistita {
    flex-direction: column; 
    align-items: center;
}


#burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    margin: 0 0 10px 80px;
}

#izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
}

#plista {
    color: #B3B2B7;
    line-height: 25px;
}

h4 {
    display: flex;
    align-items: center;
    background-color: rgba(139, 72, 191, 0.3);
    border-radius: 100px 0 0 100px;
    width: 100vw;
}

.card1, .card3 {
    display: none;
}

.card2 {
    width: 90vw;
}

#purple {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    text-align: center;
}

footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footleft {
    flex-direction: column-reverse;
    line-height: 90px;
}

#footcent {
    justify-content: space-around;
    width: 100%;
    margin: 0 0 25px 0;
    order: -2;
}

#footright {
    order: -3;
}

#iconitos {
    margin: 0 30px;
    font-size: 20px;
}

form {
    margin:0 0 25px 0;
}

#managemobile {
    text-align: center;
}

#derechosdesktop {
    display: none;
}

#derechosmobile {
    display: block;
    font-size: 12px;
    color: #8C8C94;
}

}

